[submodule "website"]
	path = website
	url = https://github.com/RegJen/Website.git
[submodule "time-tracker"]
	path = time-tracker
	url = https://github.com/RegJen/time-tracker.git
	branch = update-pom
